<html>
<head>
<title>
Modifier un Acteur
</title>
<link href="css/formfilms.css" rel="stylesheet" media="all" type="text/css"> 
<meta charset="UTF-8">
</head>

<header id="entete">
<h1>Modifier UN ACTEUR</h1>
</header>

<div id="titre">
<img src="img/funny.gif" alt="Photo" title="contact"  />
</div>
<body background="img/fOnd.jpeg">
<!-- menus-->
<div id="nav">
      <ul>
        <li><a href="Accueil.html">ACCUEIL</a></li>
        <li><a href="addfilm">AJOUTER UN FILM</a></li>
        <li><a href="addactor">AJOUTER UN ACTEUR</a></li>
        <li><a href="list">FILMS</a></li>
		<li><a href="Contact.html">CONTACT</a></li>
      </ul>
    </div>
	






	
<form method="POST" action="modif">
<h1 align="center">Modifier UN ACTEUR</h1>
<label for="id_acteur">id de l'acteur</label>
<input type="text" name="id_acteur" id="id_acteur"/>
</div>




<div id="boutons">
<input type="reset" value="Effacer" />
<input type="submit" value="Envoyer" />
</div>
</form>

</body>
</html>