
body{
	
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 20px;
    line-height: 1.25rem;
    letter-spacing: 0.5px;
	background-attachment:fixed;
	background-size: cover;
	background-color:rgba(255,0,0,0.5);
	
	
}
header#entete{  
    position:static;
	top:30px;
	
	width: 100%;
	font-size:25px;
	font-family:Cambria;
	
 }
header#entete h1{  
text-align:center;
color:#8B4513;
}
.global {
	margin: 0 auto;
	width:950px;
	border: solid;
	border:1px;
	border-top:none;
}

#entete img { display: block;
margin:0 auto;

}
#entete {
	position:static;
	width:60%;
	margin: 0 auto;
	
	top:0px;
}

#nav li {
	padding-right: 30px;
}

#nav {
	margin-top:50px;
    position:static;
    text-align: center;
    line-height: 60px;
    font-weight: 900;
    width: 100%;
	
}
#nav a {
	text-decoration: none;
	font-family: Cambria, serif;
	font-size: 25px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: #006400;
}
#nav a:hover {
	text-decoration: none;
	font-family: Cambria, serif;
	font-size: 25px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: #DC143C;
}
ul,li{
	display:inline-block;
}
	
.contenu {
	 clear :both;
	 padding:10px;
}

article { position:relative;
width:100%;}


article h1{
	text-align:center;
	font-size:28px;
	font-family:Cambria;
	color:#006400;
}
article h2{
	color:#8B4513;
}
article p {
	font-size:18px;
	font-family:Cambria;
	color:#006400;
}
article img {
	max-width: 100%;
	height: auto;
	width:50%;

}
p.img {
	text-align:center;
}
}
aside { float:right;
width:30%;
padding-top:15px;
text-align:center;
margin-top:0px;
}
 #titre2 img{
	display: block; 
     margin: 0 auto;
	 width:50%;
	 height:400px;;
	 
}
#titre2  {
	position:static;
	width:100%;
	
}




.wrapper{
    margin:20px auto;
    width:350px;
    text-align:center;
}
.content{
    position:absolute;
    background:#fff;
    top:0px;
    left:-10px;
    height:200px;
    width:1200px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
    clear:both;
}
.item{
    float:left;
    width:300px;
    height:200px;
    position:relative;
}
#article1, #article2, #article3, #article4{
    overflow:hidden;
    background:transparent;
    width:300px;
    height:250px;
    margin:0 auto;
    position:relative;
}
#article1:target .content{
    left:-10px;
}
.sliderContainer{
    position:relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border:10px solid #fff;
    height:190px;
    width:280px;
    overflow:hidden;
}
#article2:target .content, #article3:target .content, #article4:target .content{
    -webkit-transform: translate(-300px, 0px);
    -moz-transform: translate(-300px, 0px);
    -o-transform: translate(-300px, 0px);
    -ms-transform: translate(-300px, 0px);
    transform: translate(-300px, 0px);
}
#article3:target .content{
    -webkit-transform: translate(-600px, 0px);
    -moz-transform: translate(-600px, 0px);
    -o-transform: translate(-600px, 0px);
    -ms-transform: translate(-600px, 0px);
    transform: translate(-600px, 0px);
}
#article4:target .content{
    -webkit-transform: translate(-900px, 0px);
    -moz-transform: translate(-900px, 0px);
    -o-transform: translate(-900px, 0px);
    -ms-transform: translate(-900px, 0px);
    transform: translate(-900px, 0px);
}
.wrapper a{
    margin: auto 10px;
    color:#fff;
    text-decoration: none;
    text-indent:-5000px;
    background:#fff;
    width:38px;
    height:18px;
    padding:8px;
    padding-top:0px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 390px;
    border-radius: 390px;
}
#article4 a,#article3 a, #article2 a, #article1 a{
    width:22px;
    height:15px;
    padding:8px 0;
    padding-top:0px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 390px;
    border-radius: 390px;
    position:absolute;
    bottom:10px;
    left:55px;
}
#article2 a{
    position:absolute;
    bottom:10px;
    left:105px;
}
#article3 a{
    position:absolute;
    bottom:10px;
    left:155px;
}
#article4 a{
    position:absolute;
    bottom:10px;
    left:205px;
}
#article1:target> a, #article2:target> a, #article3:target> a, #article4:target> a{
    background:#999;
    color:#999;
}

.item img{
    margin:auto;
    margin-top:22px;
    width:200px;
    height:150px;
}

/* Variabes */  
$orange: #ffa600;
$green: #c1d72e;
$blue: #82d2e5;
$grey:#f3f3f3;
$white: #fff;
$base-color:$green ;

/* Mixin's */ 

@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@mixin clear {
  &:after {
      content: "";
      display: table;
      clear: both;
    }
}

 @mixin box-size {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 @mixin transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@mixin fade {
  -moz-transition: all 1s ease-in;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}

@mixin opacity {
  opacity:0.4;
  filter:alpha(opacity=40); 
  @include fade;
}

@mixin corners ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius; 
  -khtml-border-radius: $radius; 
}



.wrappper{
  @include clear;
  width:100%;
  margin:0 auto;
  
}


canvas{
  color:$white;
  border: $white dashed 2px;
  padding:15px;
}

#alphabet {
  @include clear;
  margin:15px auto;
  padding:0;
  max-width:900px;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background:$white;
  color:$base-color;
  cursor:pointer;
  @include corners(5px);
  border: solid 1px $white;
    
    &:hover{
      background:$base-color;
      border: solid 1px $white;
      color:$white;
    }
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

.active {
  @include opacity;
  cursor:default;
    
  &:hover{
      @include fade;
      @include opacity;
    }
}

#mylives{
  font-size:1.6em;
  text-align:center;
  display:block;
}

button{
  @include corners (5px);
  background:$base-color;
  color:$white;
  border: solid 1px $white;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;
  
    &:hover{
      @include transition;
      background:$white;
      border: solid 1px $white;
      color:$base-color;
    }
}

@media (max-width: 767px) {
  #alphabet {
  padding:0 0 0 15px;
}
  }

  @media (max-width: 480px) {
  #alphabet {
  padding:0 0 0 25px;
}
  }



