body{
	
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 20px;
    line-height: 1.25rem;
    letter-spacing: 0.5px;
	background-attachment:fixed;
	background-size: cover;
	
	
	
}

}
 #audio {
	 position: static;
	 margin-top:125px;
	 
 }
 #audio p {
	 margin-left:60px;
	 color:black;
	 font-family:Cambria;
	 font-style:bold;
	 font-size:20px;
 }
 
 
  #titre img{
	display: block; 
     margin: 0 auto;
	 height:400px;
	 width:620px;
}
#titre  {
	position:static;
	width:100%;
	margin-top:100px;
}
#nav li{
	padding-right: 30px;
}
#nav{
	margin-top:50px;
    position:static;
    text-align: center;
    line-height: 60px;
    font-weight: 900;
    width: 100%;
	
	
}
#nav a{
	text-decoration: none;
	font-family: Cambria, serif;
	font-size: 25px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color:black;
}
#nav a:hover{
	text-decoration: none;
	font-family: Cambria, serif;
	font-size: 25px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color:red;
}
#nav ul li{
	display:inline-block;
}

.capclear2{
margin:10px auto;
width:38em;
text-align:left;
border:1px solid #000;
background:#eff2df;
padding:1px;
}
.capclear2 img {float:left;margin:5px;display:inline;}
.capclear2 ul{
font-size:120%;
font-weight:bold;
margin:0;
padding:0;
list-style:none;
}
.capclear2 ul li{margin:1em 0}

.capclear2 ul{
overflow:auto;/* this is the key for good browsers*/
}
header#principal {
	
	position:absolute;
	top:0px;
	center:0px;
	width: 100%;

	

	
}

header#principal h1,h6 {
	text-align:center;
}


form {

    margin: 0 auto;
    width: 400px;

    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
label {

    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
 
    font: 1em sans-serif;

    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  
    border: 1px solid #999;
}
input:focus, textarea:focus {
  
    border-color: #000;
}
textarea {
   
    vertical-align: top;

   
    height: 5em;

    
    resize: vertical;
}
#boutons {
	  margin-left: 94px;
}
textarea {
	margin-bottom:10px;
}